<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="/css/noticeStyle.css"> <!-- noticeStyle.css 연결 -->
</head>

<div layout:fragment="content">
    <div class="notice-detail-container">
        <h1>공지사항 작성</h1>
        <hr style="border: 1px solid #a6a6a6; margin-top: 10px; margin-bottom: 20px;">

        <!-- 공지사항 작성 폼 -->
        <form th:action="@{/notice/save}" th:object="${notice}" method="post" class="notice-write-form">
            <table>
                <tr>
                    <th>제목</th>
                    <td colspan="5">
                        <input type="text" name="title" th:field="*{notice_title}" placeholder="제목을 입력하세요" required class="input-title">
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="5">
                        <textarea name="content" th:field="*{notice_content}" placeholder="공지사항 내용을 입력하세요" required class="textarea-content"></textarea>
                    </td>
                </tr>
            </table>

            <!-- 작성 및 취소 버튼 -->
            <div class="notice-actions">
                <button type="submit" class="submit-btn">작성</button>
                <a href="/notice" class="cancel-btn">취소</a>
            </div>
        </form>
    </div>
</div>

<script src="/js/noticeScript.js"></script> <!-- noticeScript.js 연결 -->
</html>
